<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL"
        tools:targetApi="31">
        <activity
            android:name=".ActivitiesDirectory.EstablishmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesDirectory.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.LoginActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.RegisterActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.AccountActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.HomeActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.EstablishmentsActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.MatchActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.EditProfileActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.MapActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesDirectory.YourCourtReservationsActivity"
            android:exported="true"
            android:label="Padelero"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_Dev_EndProject_JC_JvL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>